src/main/mule/cicd_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ee1a6227-3db8-4831-b303-59872008c706" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="9bf7176d-28a0-4924-b2f3-d0eda0549e89" basePath="/api/timezone">
		<http:request-connection host="worldtimeapi.org"/>
	</http:request-config>
	<flow name="cicd_demoFlow" doc:id="fd541560-ee7a-4dfc-885c-4275370ef9fa" >
		<http:listener doc:name="Listener" doc:id="6b80c4bb-69ee-4b11-ae11-e8d01facf0b1" config-ref="HTTP_Listener_config" path="/{city}/{region}"/>
		<http:request method="GET" doc:name="Request" doc:id="53a98510-d1aa-41db-9286-e6bc382f0af3" config-ref="HTTP_Request_configuration" path="/{city}/{region}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
